@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Covered+By+Your+Grace&display=swap');

html {
scroll-behavior: smooth;
}

body {
     font-family: 'Advent Pro', sans-serif;
     padding: 0;
     margin: 0;
}
ul {
     margin: 0;
     padding: 0;
}	
li {
	list-style-type: none;
}
h2 {
	text-transform: uppercase;
	text-align: center;
	padding-top:30px;
	font-size: 2em;
}
a {
    text-decoration: none;
	color: white;
}
/*----------------------NAVBAR----------------------------*/
nav {
	overflow: hidden; 
	background-color: #8B0000;
	position: fixed;
	width: 100%;
	opacity: 0.9;
}
header li {
	float: right;
	font-size: 1.2em;	
}
header li a {
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 18px 16px;
}
#logo {
    font-family: 'Dancing Script', cursive;
	font-weight: bold;
	float: left;
}
/*----------------------Tanjiro----------------------------*/
#imagePrincipale {
	padding-top: 60px;
	background: src(media/Tanjiro.jpg) no-repeat 50% 50%;
    background-size: cover;
	height: 599px;
}
h1 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	color: #f2f545;
	font-size: 5em;
	margin-top: 110px;
    text-shadow: -2px 0 black, 0 2px black,2px 0 black, 0 -2px black;	
}
#premierTrait {
	height: 2px;
	width: 30%;
	margin: -3px auto;
	background-color: #f2f545;
}
h3 {
	text-align: center;
	color: #f2f545; 
	font-size: 3em;
	text-shadow: -2px 0 black, 0 2px black,2px 0 black, 0 -2px black;
}
/*----------------------TRUC DU MOMENT----------------------------*/
#presentation {
	background-color: #242449; 
    padding: 10px 0px 100px 0;
}
#texteIntro {
	padding: 0px 20%;
	color: white
}
#Actualites {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 30px 10%;
}
.imagesActualites h4{
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 1.8em;
	margin: 15px;
	font-weight: 200;
	color: white;
}
.imagesActualites img {
	border-radius: 10px;
}
.imagesActualites img:hover {
	transform: scale(1.03);
	transition: 0.5s ease-in-out;
}
/*----------------------TANT A DECOUVRIR----------------------------*/
#autre {
	height: 1400px;
	background-color: #242449;
	padding: 1px 2%;
}
#autre h2 {
	padding-top: 60px;
}
#Spin-off {
	background: src(media/spinoff.jpg);
}
#Film {
	background: src(media/mha.jpg);
}
#Figurine {
	background: src(media/tengen.jpg);
}
#autre li {
	margin: 65px 100px 0 100px;
	height: 226px;
	width: 55%;
	max-width: 550px;
	float: left;
	border-radius: 10px;
}
#autre p {
	height: 45px;
	width: 235px;
	float: right;
	margin: 50px -180px 0 0;
	font-size: 1.5em;
	text-align: center;
	padding-top: 15px;
	color: white;
	font-weight: bold;
}
#autre #Film {
    float: right;
}
#Film p {
    float: left;
    margin-left: -180px;	
}
/*----------------------FOOTER----------------------------*/
footer {
	background-color: #242449; 
	color: white;
	padding: 20px 0 10px 0;
	text-align: center;
}
#deuxièmeTrait {
	height: 2px;
	width: 75%;
	background-color: #FFFFFF;
	margin: 60px auto;
}
#copyrightEtIcons {
	display: flex;
	margin: 20px;
	padding: 0 10%;
}
#copyright {
	width: 50%;
	text-align: left;
	color: white;
	font-size: 1em;
}
#icons {
	width: 50%;
	text-align: right;
}
#icons a {
	display: inline-block;
	padding: 0 10px;
	font-size: 1.3em;
}
#icons a:hover {
	transform: scale(1.5);
	transition: 0.1s;
}